
/build/
/app/build/
.gradle/
.idea/

*.iml
*.hprof
*.log
/local.properties
/.cxx/
/captures/
/externalNativeBuild/

/.gradle/
/.gradle/**

*.class
*.jar
*.war
*.ear
*.swp

*.log
*.temp

*.apk
*.aab
*.dex

*.keystore
*.jks

*.env
.env.local

.idea/
.vscode/

.DS_Store
*.swp
*.swo

.firebase/
.github/workflows/*.yml

/google-services.json
/google-services-debug.json
/serviceAccountKey.json

/cmake-build-debug/
/obj/
/libs/
/*.so